.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #f4f4f4;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.grid {
  display: inline-block;
  margin: 20px;
}

.row {
  display: flex;
}

.cell {
  width: 20px;
  height: 20px;
  border: 1px solid #ddd;
  cursor: pointer;
}

.cell.start {
  background-color: green;
}

.cell.end {
  background-color: red;
}

.cell.path {
  background-color: blue;
}
